PasswordAuthentication no
ChallengeResponseAuthentication no

UsePAM yes
X11Forwarding no
PrintMotd no

AcceptEnv LANG LC_*

PrintLastLog no
ClientAliveInterval 420
ClientAliveInterval 120
Match user anon
    PasswordAuthentication yes
    PermitEmptyPasswords yes